.hack_image {
  max-width: 200px;
  max-height: 300px;
  margin: 0 auto;
}

.hack_image_div {
  text-align: center;
}

#event_header {
  margin-bottom: 30px;
}

#hacks_body li {
  margin-top: 15px;
}

#raffle_body {
  text-align: center;
  margin: auto;
}
