<div id="footer">
  <div id="creator">Built by <%= link_to 'Cullen Walsh', 'http://fb.me/ckwalsh' %></div>
  <div id="call-for-github">Broken? <%= link_to 'Download the source and fix it', 'https://github.com/ckwalsh/fb-hackathon-rails' %></div>
  <div class="fb-like" data-href="http://fb-hackathon.herokuapp.com/" data-send="false" data-width="450" data-show-faces="true" data-font="arial"></div>
</div>
